<nav id="navbar">
	<div class="nav-container">
		<a href="index.html" class="logo">Rumah Kue Nafara</a>
		<ul class="nav-menu" id="navMenu">
			<li><a href="index.html#home">Home</a></li>
			<li><a href="katalog/brownies.html">Produk</a></li>
			<li><a href="index.html#promo">Promo</a></li>
			<li><a href="index.html#about">Tentang Kami</a></li>
			<li><a href="pesan.html">Pesan</a></li>
			<li><a href="index.html#contact">Kontak</a></li>
		</ul>
		<div class="hamburger" id="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</nav>


